body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
}

.left {
  width: 450px;
  margin-top: 70px;
  display: inline-block;
  padding-right: 20px;
}

.facebook-logo {
  width: 100%;
  max-width: 200px;
}

.left p {
  font-size: 18px;
  color: #4b4f56;
  line-height: 1.5;
}

.right {
  display: inline-block;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  gap: 10px;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

button {
  background-color: #1877f2;
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
  color: white;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #1877f2;
  font-size: 14px;
}

.signup {
  background-color: #42b72a;
  color: white;
  padding: 10px 20px;
  width: 100%;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

